.editorpane {
  .holder {
    padding: 16px 24px;
    &__title {
      background-color: #1da5f9;
      background-image: linear-gradient(90deg, rgba(2, 140, 225, 0%), #6acbe0 100%);
      border-radius: 8px;
      color: #ffffff;
      font-weight: bold;
      margin-bottom: 16px;;
      padding: 12px 16px;
    }
  }

  .list {
    list-style: none;
    padding: 0;
    &__item {
      margin-bottom: 12px;
    }

    .card {
      background-color: rgba(82, 93, 109, 1);
      border-radius: 8px;
      cursor: pointer;
      color: hsl(228, 19%, 98%);
      padding: .66rem 1rem;
      position: relative;
    }
  }
}